body {
    display: block;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.back-icon {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 50px;
}

.cardBackArrowMobil {
    display: none;
}

.contacts-div {
    display: flex;
    align-items: flex-start;
    padding-left: 243px;
    margin-top: 176px;
    position: relative;
    right: 0;
    height: 100vh;
}

.contacts-container {
    width: 400px;
    min-width: 430px;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    overflow-y: scroll;
    height: calc(91vh - 100px);
    gap: 76px;
}

.add-contacts-btn {
    position: fixed;
    top: 126px;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    background-color: #2a3647;
    color: white;
    font-family: inter;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 9;
    padding: 15px;
    border: none;
    left: 281px;
    box-shadow: 0 10px 6px -6px #777;
}

.add-contacts-btn:hover {
    border: none;
    background-color: #29abe2;
}

.initial-letter {
    font-family: inter;
    font-size: 20px;
    font-weight: 400;
    cursor: default;
    margin-left: 31px;
}

.initial {
    position: relative;
    left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    font-family: inter;
    font-size: 12px;
    font-weight: 400;
    color: white;
    margin-right: -8px;
}

.initial-text {
    line-height: 0.5;
    margin: 22px 164px 21px -56px;
    max-width: 86px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.line {
    height: 1px;
    background: #D1D1D1;
    margin: 8px 0px 8px;
    font-weight: 400;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    gap: 96px;
    border-radius: 10px;
    width: 352px;
    height: 78px;
    cursor: pointer;
    overflow: hidden;
}

.contact.clicked {
    background-color: #2a3647;
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.contact.clicked:hover {
    background-color: #2a3647;
    color: white;
}

.contact:hover {
    background-color: #f6f7f8;
}

.contact-view {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 14px;
    left: 680px;
    height: -webkit-fill-available;
    background: white;
    height: 100vh;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    border-radius: 10px;
    margin-top: -49px;
}

.contact-header {
    position: relative;
    top: 47px;
    left: 0px;
}

.contact-text {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 36px;
    cursor: default;
}

.text-1 {
    font-family: inter;
    font-size: 61px;
    font-weight: 700;
}

.contact-text h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.text-2 {
    font-size: inter;
    font-size: 27px;
    font-weight: 400;
}

#card {
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 90px;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px #777;
    margin-top: 90px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background: white;
}

.initial-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-family: inter;
    font-size: 47px;
    font-weight: 500;
    color: white;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
    cursor: default;
    margin: 0;
}

.initial-2 p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.info a {
    color: #2a3647;
}

.name {
    font-family: inter;
    font-size: 47px;
    font-weight: 500;
    cursor: default;
    white-space: nowrap;
}

.edit-del {
    font-family: inter;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.edit-delete:hover {
    color: #29abe2;
    font-weight: 700;
    filter: invert(35%) sepia(85%) saturate(1500%) hue-rotate(175deg) brightness(100%) contrast(101%);
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card img:hover {
    cursor: pointer;
}

.edit-delete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 13px;
    cursor: pointer;
}

.del {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
}

.information {
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    cursor: default;
    padding: 0px 20px;
}

.info {
    background: white;
    border-radius: 10px;
    width: fit-content;
}

.info-1 {
    font-family: Inter;
    font-size: 16px;
    cursor: default;
    gap: 20px;
    display: flex;
    align-items: center;
    margin: 1px;
}

.info-2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.gap-1 {
    gap: 28px;
}

.gap-2 {
    gap: 20px;
}

.name-div {
    line-height: 0.1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
}

.msg2 {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 312px;
    height: 74px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 16px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    border: none;
    display: none;
    z-index: 11;

}

.contacts-container::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('/Join/img/scroll-up.png');
    width: 10px;
    height: 4px;
}

.contacts-container::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('/Join/img/scroll-down.png');
    width: 10px;
    height: 4px;
}

.contacts-container::-webkit-scrollbar {
    display: block;
    width: 8px;

}

.contacts-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.contacts-container::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 10px;
}

::-webkit-inner-spin-button {
    display: none;
}

/* RESPONSIVE */

@media (max-width: 4000px) and (min-width: 601px) {
    .information {
        left: 0px;
        position: relative;
    }

    .card {
        display: flex;
        justify-content: flex-start;
        margin-top: 0px;
        align-items: flex-start;
        flex-direction: column;
    }

    .cardBackArrow {
        display: block;
        margin-right: 40px;
    }

}

@media (max-width: 1360px) {
    .contact-text {
        flex-direction: column;
        align-items: flex-start;
        line-height: 0;
    }

    svg {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }

    .info {
        left: 15px;
    }

    .initial-2 {
        height: 100px;
        width: 100px;
    }

    .name {
        font-size: 40px;
    }

    .name-div {
        gap: 2px;
    }
}

@media (max-width: 1235px) {
    .name-div {
        flex-direction: column;
        gap: 0;
    }

    .card {
        align-items: center;
    }

    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .back-icon {
        margin-top: 20px;
    }

    .del {
        margin: 30px;
    }
}

@media (max-width: 1100px) {
    .add-contacts-btn {
        width: 296px;
        right: 23px;
    }

    .contact-header {
        display: none;
    }

    .text-1 {
        font-size: 36px;
    }

    .text-2 {
        font-size: 16px;
    }

    .name {
        font-size: 30px;
        margin-bottom: 42px;
        margin-top: 39px;
    }

    .contact-view {
        display: none;
        left: unset;
        z-index: 999;
        height: auto;
    }

    .card {
        margin-top: 58px;
    }

    .information {
        top: -7px;
    }
}

@media (max-width: 870px) {
    .contacts-div {
        padding-left: 0px;
    }

    .add-contacts-btn {
        width: 64px;
        height: 64px;
        position: absolute;
        border-radius: 44px;
        background-color: #2a3647;
        color: white;
        font-family: inter;
        font-size: 21px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 9;
        padding: 15px;
        border: none;
        top: auto;
        right: 40px;
        bottom: 147px;
        left: auto;
    }
}

@media (max-width: 849px) {
    .add-contacts-btn {
        width: 64px;
        height: 64px;
        position: absolute;
        border-radius: 44px;
        background-color: #2a3647;
        color: white;
        font-family: inter;
        font-size: 21px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 9;
        padding: 15px;
        border: none;
        top: auto;
        right: 40px;
        bottom: 147px;
        left: auto;
    }

    .add-contacts-btn p {
        display: none;
    }
}

@media (max-width: 600px) and (min-width: 280px) {
    #contact-view {
        display: none;
    }

    .back-icon {
        width: 90%;
    }

    .contact-view {
        display: none;
        flex-direction: column;
        width: 100vw;
        position: absolute;
        left: 0px;
        z-index: 10;
        margin-top: 13px;
        background-color: rgb(243, 243, 243);
        margin-left: 0px;
    }

    .contact-text h2 {
        font-size: 16px;
    }

    .contact-text p {
        font-size: 16px;
    }

    .initial-2 {
        width: 60px;
        height: 60px;
        font-size: 34px;
    }

    .info {
        left: 0px;
        top: -40px;
        z-index: 10;
    }

    .info p {
        color: rgb(5, 5, 5);
    }

    .info a {
        color: rgb(1, 1, 1);
    }

    .information {
        left: 65px;
        margin-top: 40px;
    }

    .name {
        font-size: 28px;
        margin: 0;
    }

    .cardBackArrow {
        display: none;
    }

    .cardBackArrowMobil {
        display: block;
        margin-left: 20px;
    }

    .initialDiv {
        position: relative;
        bottom: 56px;
        padding: 0px !important;
    }

    .contacts-div {
        display: flex;
        align-items: flex-start;
        padding-left: 0px;
        margin-top: 0px;
        position: relative;
        right: 0;
        height: 74%;
        width: 100vw;
    }

    .contacts-container {
        margin-left: 0px;
        margin-top: 10px;
        min-width: auto;
        width: 100vw;
    }

    .contacts {
        height: 100%;
        width: 90vw;
    }

    .contact {
        height: 10vh;
        width: 93vw;
        max-height: 56px;
    }

    .add-contacts-btn p {
        display: none;
    }

    .initial-letter {
        height: 2vh;
    }

    .contact.clicked {
        width: 88vw;
        padding: 5px;
    }
}

@media (max-width: 440px) {
    .info {
        padding: 0;
    }

    .gap-1 {
        gap: 21px;
    }

    .info-2,
    .info-1 {
        font-size: 14px;
    }

    .back-icon {
        position: relative;
        top: -51px;
    }

    .contacts-container {
        height: 100%;
    }
}

@media (max-width: 400px) {
    #card {
        margin-top: 51px;
    }
}

@media (max-width: 380px) {
    .info {
        padding: 0;
    }

    .gap-1 {
        gap: 12px;
    }

    .info-2,
    .info-1 {
        font-size: 14px;
    }
}

@media (max-width: 380px) {

    .info-2,
    .info-1 {
        font-size: 11px;
    }

    #card {
        margin-top: 25px;
    }

    .add-contacts-btn {
        right: 24px;
        bottom: 91px;
    }
}

@media (max-width: 320px) {
    .add-contacts-btn {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        right: 18px;
        bottom: 102px;
    }

    .add-contacts-btn img {
        width: 19px;
    }
}