.new-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    display: none;
}

.div-container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #2a3647;
    position: relative;
}

.slide-in {
    animation: slide-in 0.2s ease-in-out forwards;
}

.slide-out {
    animation: slide-out 0.2s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.seperatorDiv {
    width: 150px;
    height: 3px;
    background: #29abe2;
}

.titleAddNewTaskForm {
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-text {
    color: white;
    font-family: inter;
    font-weight: 700;
    font-size: 50px;
    cursor: default;
    margin: 0;
}

.new-text-2 {
    color: white;
    font-family: inter;
    font-weight: 400;
    font-size: 20px;
    cursor: default;
}

.new-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0.5;
    padding: 20px;
}

.new-card img {
    width: 43px;
    height: 52px;
    position: absolute;
    left: 53px;
    top: 28px;
}

.div-input {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 707px;
    padding-top: 39px;
}

.picture {
    background-color: #d1d1d1;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.2);
}

.picture-div {
    position: relative;
    left: 38px;
    top: -34px;
}

.close {
    position: absolute;
    top: 28px;
    cursor: pointer;
    right: 53px;
}

#newContactJoinImage {
    width: 43px;
    height: 58px;
    position: absolute;
    left: 53px;
    top: 28px;
}

.div-input-fields {
    position: relative;
    left: 66px;
    top: 41px;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    background-color: white;
    border: 1px solid #d1d1d1;
    width: 422px;
    height: auto;
    border-radius: 10px;
    padding: 12px 21px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 20px;
}

.icon-1 {
    color: #a8a8a8;
    width: 20px;
    height: 16px;
}

.icon-2 {
    color: #a8a8a8;
    width: 18px;
    height: 21px;
}

.create-btn {
    width: 214px;
    height: 57px;
    font-size: 21px;
    font-weight: 700;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-family: inter;
    cursor: pointer;
    border: none;
    margin-right: 6px;
}

.create-btn:hover {
    background-color: rgb(41, 171, 226);
}

.cancel-btn {
    width: 214px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    background-color: white;
    color: #2A3647;
    font-family: inter;
    cursor: pointer;
    border: 2px solid;
}

.cancel-btn:hover {
    color: #29abe2;
    border-color: #29abe2;
}

.buttons {
    padding: 41px 0;
    position: relative;
    right: -16px;
    top: -33px;
    gap: 20px;
    display: flex;
}

#separatorAddContact {
    position: absolute;
    height: 111px;
    width: 149px;
    top: 96px;
    transform: rotate(90deg);
}

::placeholder {
    color: var(--Style, #D1D1D1);
}

/* RESPONSIVE */

@media (max-width: 1250px) {
    #newContactJoinImage {
        height: 49px;
        left: 24px;
    }

    .div-input {
        flex-direction: column;
        align-items: center;
        width: 510px;
        border-radius: 10px;
        margin: 93px 10px 10px 10px;
        padding-top: 0;
    }

    .div-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .new-card {
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 20px;
        left: 0px;
        margin-top: 100px;
    }

    .new-card img {
        top: -94px;
        left: -71px;
    }

    .input-fields {
        margin-bottom: 0;
    }

    .div-input-fields {
        gap: 15px;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
    }

    .buttons {
        right: -126px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: fit-content;
        gap: 10px;
        padding: 41px 0 20px 0;
    }

    .cancel-btn,
    .create-btn {
        margin: 0;
    }

    .cancel-btn {
        width: 214px;
    }

    .picture {
        left: 0;
        position: relative;
    }

    .picture-div {
        position: relative;
        left: 0;
        top: -60px;
    }

    @media (max-width: 520px) {

        .div-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 757px;
            width: 399px;
        }

        .new-card {
            text-align: center;
        }

        .new-card img {
            top: -64px;
            left: -36px;
        }

        .new-text {
            color: white;
            font-family: inter;
            font-weight: 700;
            font-size: 41px;
            cursor: default;
        }

        .new-text-2 {
            color: white;
            font-family: inter;
            font-weight: 400;
            font-size: 20px;
            cursor: default;
        }

        .div-input {
            flex-direction: column;
            align-items: center;
            width: 399px;
            border-top-right-radius: 1px;
            border-bottom-left-radius: 30px;

        }

        .picture-div {
            position: relative;
            left: 0px;
            top: -34px;
        }

        .picture {
            position: relative;
            right: 44px;
            top: -22px;
        }

        .div-input-fields {
            left: -29px;
        }

        .input-fields {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border: 1px solid #d1d1d1;
            width: 324px;
            height: auto;
            border-radius: 10px;
            padding: 12px 21px;
            margin-left: 57px;
        }

        input {
            border: none;
            outline: none;
            width: 100%;
            font-size: 20px;
        }

        .buttons {
            right: -138px;
            display: flex;
            flex-direction: column-reverse;
            width: fit-content;
            margin-top: 42px;
            gap: 10px;
        }

        .cancel-btn {
            margin: 0;
            width: 197px;
        }

        .create-btn {
            width: 197px;
            margin: 0px;
            margin-right: 0px;

        }
    }

    @media (max-width: 570px) {
        .div-container {
            width: 100% !important;
            height: 100% !important;
            border-radius: unset !important;
        }

        .div-input {
            border-radius: 10px !important;
            position: relative;
            top: -10px;
        }

        .new-card {
            top: 0px;
            margin-top: 0;

        }
    }

}

@media (max-width: 430px) {
    .new-card {
        top: 60px;
    }

    .div-input {
        top: 18px;
        height: 447px;
    }

    .buttons {
        margin-top: 0;
        top: -40px;
        right: -151px;
    }

    .div-input-fields {
        top: -32px;
    }

    #newContactJoinImage {
        height: 37px;
        width: 32px;
        left: 12px;
        top: 18px;
    }

    .close {
        right: 29px;
    }

    .create-btn,
    .cancel-btn {
        font-size: 16px;
        width: 173px;
        height: 50px;
    }
}

@media (max-width: 400px) {
    .new-card {
        top: 65px;
    }

    .new-text {
        font-size: 34px;
    }

    .new-text-2 {
        font-size: 16px;
    }

    .div-input-fields {
        top: -31px;
    }

    .contacts-container {
        height: calc(91vh - 119px);
    }

    .div-input {
        height: 428px;
    }

}

@media (max-width: 410px) {
    .div-input {
        width: 340px;
    }

    .input-fields {
        width: 276px;
    }

    input {
        font-size: 15px;
    }

    .buttons {
        right: -122px;
        margin-top: 0;
        padding-bottom: 0;
    }
}


@media (max-width: 375px) {
    .picture {
        width: 95px;
        height: 95px;
        top: -14px;
    }

    .input-fields {
        padding: 8px 21px;
    }
}

@media (max-width: 360px) {
    .div-input {
        width: 301px;
    }

    .input-fields {
        width: 239px;
    }

    .buttons {
        right: -112px;
    }

    .new-text {
        font-size: 32px;
    }

    .new-text-2 {
        font-size: 13px;
    }

    .create-btn,
    .cancel-btn {
        font-size: 17px;
    }
}

@media (max-width: 320px) {

    .create-btn,
    .cancel-btn {
        height: 40px;
    }

    .input-fields {
        padding: 5px 17px;
    }

    .picture {
        width: 80px;
        height: 80px;
        top: -5px;
    }

    .new-card {
        top: 84px;
    }

    .close {
        right: 18px;
        top: 14px;
    }

    .new-card img {
        display: none;
    }
}